/* html elements */
body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin: 0;
}

div {
  padding: 2rem;
}

h2 {
  color: hsl(71, 73%, 54%);
}

p {
  color: hsl(204, 43%, 93%);
}

/* Grid Setup */
.wrapper {
  display: grid;
  grid-template-columns: auto 350px 350px auto;
  grid-template-rows: repeat(4, 1fr);
}

div.wrapper {
  padding: 0;
}

/* Top Container */
.top-container {
  grid-column: 2/4;
  grid-row: 2;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top-header {
  color: hsl(179, 62%, 43%);
}

.top-para {
  color: hsl(218, 22%, 67%);
}

/* Left Container */
.left-container {
  grid-column: 2;
  grid-row: 3;
  background-color: hsl(179, 62%, 43%);
  color: #fff;
  border-bottom-left-radius: 10px;
}

.price-head {
  display: inline;
}

.price-para {
  display: inline;
}

/* .left-para {} */
/* Button */
.btn {
  background-color: hsl(71, 73%, 54%);
  border: none;
  color: #fff;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  border-radius: 5px;
  width: 100%;
}

.btn:hover {
  background-color: hsl(71, 73%, 49%);
}

/* Right Container */
.right-container {
  grid-column: 3;
  grid-row: 3;
  background-color: hsl(179, 62%, 46%);
  color: #fff;
  border-bottom-right-radius: 10px;
}

/* .right-para {} */
/* Footer */
.footer {
  grid-column: 2/4;
  grid-row: 4;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: #3e52a3;
}

/* Media Query */
@media only screen and (max-width: 640px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 3%;
  }

  .top-container {
    grid-column: 1;
    grid-row: auto;
  }

  .left-container {
    grid-column: 1;
    grid-row: auto;
    border-bottom-left-radius: 0;
  }

  .right-container {
    grid-column: 1;
    grid-row: auto;
    border-bottom-left-radius: 10px;
  }

  .footer {
    grid-column: 1;
    grid-row: auto;
  }
}
